#feed {
  display: grid;
  max-width: 55vw;
  max-height: 80vh;
  overflow-y: scroll;
}
#most-liked{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
#meme-card {
  background: linear-gradient(to bottom, #30c551 70%, #ffffff);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  max-width: 400px;
  display: flex;
  flex-direction: column; /* Ensure meme card content stacks vertically */
  margin-top: 1em;
  margin-bottom: 1em; /* Add spacing between meme cards */
}

#meme-image {
  width: 100%;
  max-height: 350px;
  border-radius: 5px;
  margin-bottom: 10px; /* Add spacing between image and other content */
}

#like-buttons{
  margin: auto;
  display: flex;
  font-size: 1em;
}

#like-buttons p{
  margin-right: 5px;
}
#other-memes{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin: auto;
}
#other-memes img{
  width: 100%;
  max-height:300px ;
}
@media screen and (max-width: 700px) {
  #most-liked{
    grid-template-columns: repeat(1,1fr);
  }
  #other-memes{
    grid-template-columns: repeat(1,1fr);
  }
  #meme-card{
    width:;
    max-height: 350px;
  }
  #meme-card img{
    margin: auto;
    width: 300px;
  }
 
}
